* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('./FreeMonospaced.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%; /* 전체 높이 설정 */
    overflow: hidden;
    font-family: 'MyCustomFont', sans-serif;
}

/* 스크롤바 전체 스타일 */
::-webkit-scrollbar {
    width: 12px; /* 세로 스크롤바 너비 */
    height: 12px; /* 가로 스크롤바 높이 */
}

/* 스크롤바 트랙 (배경) 스타일 */
::-webkit-scrollbar-track {
    background: rgb(232, 232, 232); /* 스크롤바 배경색 */
    border-radius: 10px;
}

/* 스크롤바 핸들 스타일 */
::-webkit-scrollbar-thumb {
    background-color: rgb(232, 232, 232); /* 스크롤바 색상 */
    
   
}

/* 스크롤바 핸들을 누르고 있을 때 스타일 */
::-webkit-scrollbar-thumb:active {
    background-color: rgb(0, 255, 247); /* 스크롤바 핸들 색상 변경 */
}


a {
    color: inherit; /* 부모 요소의 색상을 상속받도록 설정 */
    text-decoration: none; /* 기본적으로 밑줄을 없앰 */
}

.main-3 {
    position: absolute;
    top: 88px;
    left: 56px;
    font-size: 12px;
    word-spacing: -2px; 
}

.main-5 {
    position: absolute;
    top: 90px;
    left: 1210px;
    font-size: 12px;
    word-spacing: -5px; 
}

.main-6 {
    position: absolute;
    top: 88px;
    left: 865px;
    font-size: 12px;
    word-spacing: -5px; 
}

.ani-1{
    height: 590px;
    width: auto;
    position: absolute;
    top: 90px;
    left: 38px;
    filter: blur(4px);
    opacity: 0.7;

}
.ani-2{
    z-index: 100;
    height: 180px;
    width: auto;
    position: absolute;
    top: 240px;
    left: 426px;
 
}

.ani-3{
    z-index: 90;
    height: 403px;
    width: auto;
    position: absolute;
    top: 455px;
    left: 620px;
 
}

.ani-4{
    z-index: 10;
    height: 620px;
    width: auto;
    position: absolute;
    top: 160px;
    left: 1040px;
 
}

.main-1 {
    position: absolute;
    top: 794px;
    left: 60px;
    font-size: 16px;
    word-spacing: -5px; 
   
}

.main-2 {
    position: absolute;
    top: 794px;
    left: 1419px;
    font-size: 16px;
    word-spacing: -5px; 
    z-index: 100;
 
}

.main-2:hover{
    font-weight: 900;
    text-shadow: 0 0 10px rgb(0, 255, 179);
}



.main {
    position: absolute;
    top: 744px;
    left: 60px;
    font-size: 15px;
    word-spacing: -5px; 
}

.main-3-1{
    font-weight: 900;
    position: absolute;
    top: 5px;
    left: 53px;
    font-size: 16px;
    word-spacing: -5px; 
    z-index: 100;
}
.main-3-1:hover{
    font-weight: 900;
    text-shadow: 0 0 10px rgb(0, 255, 179);
}


.main-4-1{
    font-weight: 900;
    position: absolute;
    top: 5px;
    left: 1118px;
    font-size: 16px;
    word-spacing: -5px; 
    z-index: 900;
    text-wrap: nowrap;
}

.main-4-1:hover{
    font-weight: 900;
    text-shadow: 0 0 10px rgb(0, 255, 179);
}

.main-5-1{
    font-weight: 900;
    position: absolute;
    top: 5px;
    right: 53px;
    font-size: 16px;
    word-spacing: -5px; 
    z-index: 900;
}

.main-5-1:hover{
    font-weight: 900;
    text-shadow: 0 0 10px rgb(0, 255, 179);
}


.empty-box {
    height: 540px;
    width: 385px;
    border: 0.1px solid black;
    position: absolute;
    top: 115px;
    left: 60px;
    box-sizing: border-box;
    cursor: pointer; /* 클릭 가능하도록 커서 변경 */
    z-index: 99; /* info-1보다 아래에 표시 */
}

/* 매체 변환*/
.info-1 {
    opacity: 0; /* 기본적으로 투명하게 */
    transition: opacity 0.7s ease; /* 서서히 나타나는 효과 */
    height: 540px; 
    width: auto; /* 너비를 100%로 설정 */
    border: 0.1px solid black;
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: 100; /* 다른 요소보다 위에 표시 */
}

.s {
    opacity: 0; /* 기본적으로 투명하게 */
    transition: opacity 0.7s ease; /* 서서히 나타나는 효과 */
    height: 620px;
    width: auto;
    position: relative;
    top: -150px; /* 상단 맞춤 */
    left: -140px; /* 왼쪽 맞춤 */
    z-index: 100;
   
  
}

/* 대각선 X자를 그리는 스타일 */
.empty-box::before,
.empty-box::after {
    content: '';
    position: absolute;
    width: 660px; /* 대각선의 길이 */
    height: 0.1px; /* 선의 두께 */
    background-color: black; /* 대각선 색상 */
    top: 50%; /* 세로 중심에 위치 */
    left: 50%; /* 가로 중심에 위치 */
    transform-origin: center; /* 중심을 기준으로 회전 */
}

/* 첫 번째 대각선 */
.empty-box::before {
    transform: translate(-50%, -50%) rotate(54.6deg);
}

/* 두 번째 대각선 */
.empty-box::after {
    transform: translate(-50%, -50%) rotate(-54.6deg);
}

/* 호버 시 투명도 변경 */
.empty-box:hover .info-1 {
    opacity: 1; 
}

.empty-box:hover .s {
    opacity: 1; 
}



.empty-box2 {
    height: 415px;
    width: 587px;
    border: 0.1px solid black;
    position: absolute;
    top: 115px;
    left: 865px;
    box-sizing: border-box;
    cursor: pointer; /* 클릭 가능하도록 커서 변경 */
    z-index: 99; /* info-1보다 아래에 표시 */
}
.info-4 {
    opacity: 0; /* 기본적으로 투명하게 */
    transition: opacity 0.7s ease; /* 서서히 나타나는 효과 */
    height: 415px; 
    width: auto; 
    border: 0.5px solid black;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.s-1 {
    opacity: 0; /* 기본적으로 투명하게 */
    transition: opacity 0.7s ease; /* 서서히 나타나는 효과 */
    height: 370px;
    width: 520px;
    position: relative;
    top: 360px; /* 상단 맞춤 */
    left: -180px; /* 왼쪽 맞춤 */
    z-index: 109;
   
  
}
.s-1-1 {
    z-index: 200;
    opacity: 0; /* 기본적으로 투명하게 */
    transition: opacity 0.7s ease; /* 서서히 나타나는 효과 */
    height: 590px;
    width: auto;
    position: relative;
    top: -612px; /* 상단 맞춤 */
    left: -114px; /* 왼쪽 맞춤 */
   
  
}
/* 호버 시 투명도 변경 */
.empty-box2:hover .info-4 {
    opacity: 1; 
}

.empty-box2:hover .s-1 {
    opacity: 1; 
}

.empty-box2:hover .s-1-1 {
    opacity: 1; 
}
/* 대각선 X자를 그리는 스타일 */
.empty-box2::before,
.empty-box2::after {
    content: '';
    position: absolute;
    width: 718px; /* 대각선 길이 */
    height: 0.1px; /* 선의 두께 */
    background-color: black; /* 대각선 색상 */
    top: 50%; /* 세로 중심에 위치 */
    left: 50%; /* 가로 중심에 위치 */
    transform-origin: center; /* 중심을 기준으로 회전 */
}

/* 첫 번째 대각선 */
.empty-box2::before {
    transform: translate(-50%, -50%) rotate(35.3deg);
}

/* 두 번째 대각선 */
.empty-box2::after {
    transform: translate(-50%, -50%) rotate(-35.3deg);
}


/* 통계 인포*/
.info-3 {
    opacity: 0; /* 기본적으로 투명하게 */
    transition: opacity 0.7s ease; /* 서서히 나타나는 효과 */
    height: 524px; 
    width: auto; 
    border: 0.5px solid black;
    position: absolute;
    top: 0px; 
    left: 0px;
    z-index: 98;
}

.empty-box3 {
    height: 524px;
    width: 239px;
    border: 0.1px solid black;
    position: absolute;
    top: 115px;
    left: 1215px;
    box-sizing: border-box;
    cursor: pointer; 
    z-index: 99; 
}
.s-2 {
    opacity: 0;
    transition: opacity 0.7s ease;
            
    height: 260px;
    width: auto;
    position: relative;
    top: 500px;
    left: 60px; 
    z-index: 100;
}

.empty-box3:hover .info-3 {
    opacity: 1; 
}

.empty-box3:hover .s-2 {
    opacity: 1; 
}

/* 대각선 X자를 그리는 스타일 */
.empty-box3::before,
.empty-box3::after {
    content: '';
    position: absolute;
    width: 242%; /* 대각선 길이 */
    height: 0.1px; /* 선의 두께 */
    background-color: black; /* 대각선 색상 */
    top: 50%; /* 세로 중심에 위치 */
    left: 50%; /* 가로 중심에 위치 */
    transform-origin: center; /* 중심을 기준으로 회전 */
}

/* 첫 번째 대각선 */
.empty-box3::before {
    transform: translate(-50%, -50%) rotate(65.6deg);
}

/* 두 번째 대각선 */
.empty-box3::after {
    transform: translate(-50%, -50%) rotate(-65.6deg);
}





.background {
    background-image: url(); /* 배경 이미지 설정 */
    background-size: cover; /* 이미지를 화면에 맞게 늘리기 */
    background-position: center; /* 이미지 중앙 정렬 */
    width: 100%; /* 전체 너비 설정 */
    height: 100%; /* 전체 높이 설정 */
    position: fixed; /* 고정 위치 설정 */
    z-index: -1; /* 다른 요소들 뒤에 위치 */   
    opacity: 1;
    background-color: rgb(232, 232, 232);

}

.trail {
    position: absolute;
    width: 5px;
    height: 5px;
    background:black;
    border: 0.1px dotted black;
    border-radius: 50%;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.5s;
}

