* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('./FreeMonospaced.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%; /* 전체 높이 설정 */
    overflow: hidden;
    font-family: 'MyCustomFont', sans-serif;
}

a {
    color: inherit; /* 부모 요소의 색상을 상속받도록 설정 */
    text-decoration: none; /* 기본적으로 밑줄을 없앰 */
}

.main {
    position: absolute;
    top: 744px;
    left: 60px;
    font-size: 15px;
    word-spacing: -5px; 
}

.main-3-1{
    font-weight: 900;
    position: absolute;
    top: 5px;
    left: 57px;
    font-size: 16px;
    word-spacing: -5px; 
    z-index: 100;
}
.main-3-1:hover{
    font-weight: 900;
    text-shadow: 0 0 10px rgb(0, 255, 179);
}


.main-4-1{
    font-weight: 900;
    position: absolute;
    top: 5px;
    left: 390px;
    font-size: 16px;
    word-spacing: -5px; 
    z-index: 100;
}

.main-4-1:hover{
    font-weight: 900;
    text-shadow: 0 0 10px rgb(0, 255, 179);
}

.main-5-1{
    font-weight: 900;
    position: absolute;
    top: 5px;
    left: 720px;
    font-size: 16px;
    word-spacing: -5px; 
    z-index: 100;
}

.main-5-1:hover{
    font-weight: 900;
    text-shadow: 0 0 10px rgb(0, 255, 179);
}
.main-6-1{
    font-weight: 900;
    position: absolute;
    top: 5px;
    left: 1117px;
    font-size: 16px;
    word-spacing: -5px; 
    z-index: 100;
}
.main-6-1:hover{
    font-weight: 900;
    text-shadow: 0 0 10px rgb(0, 255, 179);
}
.main-1 {
    position: absolute;
    top: 794px;
    left: 60px;
    font-size: 16px;
    word-spacing: -5px; 
   
}

.main-2 {
    position: absolute;
    top: 794px;
    left: 1419px;
    font-size: 16px;
    word-spacing: -5px; 
    z-index: 100;
 
}

.main-2:hover{
    font-weight: 900;
    text-shadow: 0 0 10px rgb(0, 255, 179);
}

.main-3 {
    position: absolute;
    top: 473px;
    left: 56px;
    font-size: 12px;
    word-spacing: -5px; 
}

.main-4 {
    position: absolute;
    top: 494px;
    left: 536px;
    font-size: 12px;
    word-spacing: -5px; 
    z-index: 100;
}

.main-5 {
    position: absolute;
    top: 65px;
    left: 1198px;
    font-size: 12px;
    word-spacing: -5px; 
}

.main-6 {
    position: absolute;
    top: 343px;
    left: 536px;
    font-size: 12px;
    word-spacing: -5px; 
}

.empty-box {
    height: 370px;
    width: 262px;
    border: 0.1px solid black;
    position: absolute;
    top: 90px;
    left: 60px;
    box-sizing: border-box;
    cursor: pointer; /* 클릭 가능하도록 커서 변경 */
    z-index: 99; /* info-1보다 아래에 표시 */
}

/* 매체 변환*/
.info-1 {
    opacity: 0; /* 기본적으로 투명하게 */
    transition: opacity 0.7s ease; /* 서서히 나타나는 효과 */
    height: 370px; 
    width: 100%; /* 너비를 100%로 설정 */
    border: 0.1px solid black;
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: 100; /* 다른 요소보다 위에 표시 */
}

.s {
    opacity: 0; /* 기본적으로 투명하게 */
    transition: opacity 0.7s ease; /* 서서히 나타나는 효과 */
    height: 490px;
    width: auto;
    position: relative;
    top: -90px; /* 상단 맞춤 */
    left: -60px; /* 왼쪽 맞춤 */
   
  
}

/* 대각선 X자를 그리는 스타일 */
.empty-box::before,
.empty-box::after {
    content: '';
    position: absolute;
    width: 450px; /* 대각선의 길이 */
    height: 0.1px; /* 선의 두께 */
    background-color: black; /* 대각선 색상 */
    top: 50%; /* 세로 중심에 위치 */
    left: 50%; /* 가로 중심에 위치 */
    transform-origin: center; /* 중심을 기준으로 회전 */
}

/* 첫 번째 대각선 */
.empty-box::before {
    transform: translate(-50%, -50%) rotate(55deg);
}

/* 두 번째 대각선 */
.empty-box::after {
    transform: translate(-50%, -50%) rotate(-55deg);
}

/* 호버 시 투명도 변경 */
.empty-box:hover .info-1 {
    opacity: 1; 
}

.empty-box:hover .s {
    opacity: 1; 
}

/* 신문 인포*/





.empty-box2 {
    height: 240px;
    width: 339px;
    border: 0.1px solid black;
    position: absolute;
    top: 90px;
    left: 540px;
    box-sizing: border-box;
    cursor: pointer; /* 클릭 가능하도록 커서 변경 */
    z-index: 99; /* info-1보다 아래에 표시 */
}
.info-4 {
    opacity: 0; /* 기본적으로 투명하게 */
    transition: opacity 0.7s ease; /* 서서히 나타나는 효과 */
    height: 240px; 
    width: auto; 
    border: 0.5px solid black;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.s-1 {
    opacity: 0; /* 기본적으로 투명하게 */
    transition: opacity 0.7s ease; /* 서서히 나타나는 효과 */
    height: 131px;
    width: auto;
    position: relative;
    top: -92px; /* 상단 맞춤 */
    left: -39px; /* 왼쪽 맞춤 */
   
  
}
/* 호버 시 투명도 변경 */
.empty-box2:hover .info-4 {
    opacity: 1; 
}

.empty-box2:hover .s-1 {
    opacity: 1; 
}

/* 대각선 X자를 그리는 스타일 */
.empty-box2::before,
.empty-box2::after {
    content: '';
    position: absolute;
    width: 122%; /* 대각선 길이 */
    height: 0.1px; /* 선의 두께 */
    background-color: black; /* 대각선 색상 */
    top: 50%; /* 세로 중심에 위치 */
    left: 50%; /* 가로 중심에 위치 */
    transform-origin: center; /* 중심을 기준으로 회전 */
}

/* 첫 번째 대각선 */
.empty-box2::before {
    transform: translate(-50%, -50%) rotate(35deg);
}

/* 두 번째 대각선 */
.empty-box2::after {
    transform: translate(-50%, -50%) rotate(-35deg);
}


/* 통계 인포*/
.info-3 {
    opacity: 0; /* 기본적으로 투명하게 */
    transition: opacity 0.7s ease; /* 서서히 나타나는 효과 */
    height: 670px; 
    width: auto; 
    border: 0.5px solid black;
    position: absolute;
    top: 0px; 
    left: 0px;
    z-index: 98;
}

.empty-box3 {
    height: 670px;
    width: 239px;
    border: 0.1px solid black;
    position: absolute;
    top: 90px;
    left: 1200px;
    box-sizing: border-box;
    cursor: pointer; 
    z-index: 99; 
}
.s-2 {
    opacity: 0;
    transition: opacity 0.7s ease, 
                opacity 3s ease-out; /* 서서히 나타나는 효과 */
    height: 603px;
    width: auto;
    position: relative;
    top:-80px;
    left: -280px; 
}

.empty-box3:hover .info-3 {
    opacity: 1; 
}

.empty-box3:hover .s-2 {
    opacity: 1; 
}

/* 대각선 X자를 그리는 스타일 */
.empty-box3::before,
.empty-box3::after {
    content: '';
    position: absolute;
    width: 298%; /* 대각선 길이 */
    height: 0.1px; /* 선의 두께 */
    background-color: black; /* 대각선 색상 */
    top: 50%; /* 세로 중심에 위치 */
    left: 50%; /* 가로 중심에 위치 */
    transform-origin: center; /* 중심을 기준으로 회전 */
}

/* 첫 번째 대각선 */
.empty-box3::before {
    transform: translate(-50%, -50%) rotate(70.5deg);
}

/* 두 번째 대각선 */
.empty-box3::after {
    transform: translate(-50%, -50%) rotate(-70.5deg);
}


/*복권 인포*/
.info-2{
    opacity: 0; /* 기본적으로 투명하게 */
    transition: opacity 0.7s ease; /* 서서히 나타나는 효과 */
    height: 240px; 
    width: auto;
    border: 0.5px solid black;
    position: absolute;
    top: 0px; 
    left: 0px;
    z-index: 100;
}

.info-2-1{
    opacity: 0; /* 기본적으로 투명하게 */
    transition: opacity 0.7s ease; /* 서서히 나타나는 효과 */
    height: 240px;
    width: auto; 
    border: 0.5px solid black;
    position: absolute;
    top: 0px; 
    left: 365px;
    z-index: 200;
}


.empty-box4 {
    height: 240px;
    width: 339px;
    border: 0.1px solid black;
    position: absolute;
    top: 520px;
    left: 540px;
    box-sizing: border-box;
    cursor: pointer; /* 클릭 가능하도록 커서 변경 */
    z-index: 99; /* info-1보다 아래에 표시 */
}
/* 대각선 X자를 그리는 스타일 */
.empty-box4::before,
.empty-box4::after {
    content: '';
    position: absolute;
    width: 123%; /* 대각선 길이 */
    height: 0.1px; /* 선의 두께 */
    background-color: black; /* 대각선 색상 */
    top: 50%; /* 세로 중심에 위치 */
    left: 50%; /* 가로 중심에 위치 */
    transform-origin: center; /* 중심을 기준으로 회전 */
}

/* 첫 번째 대각선 */
.empty-box4::before {
    transform: translate(-50%, -50%) rotate(35.2deg);
}

/* 두 번째 대각선 */
.empty-box4::after {
    transform: translate(-50%, -50%) rotate(-35.2deg);
}

.s-3 {
    opacity: 0; /* 기본적으로 투명하게 */
    transition: opacity 0.7s ease; /* 서서히 나타나는 효과 */
    height: 200px;
    width: auto;
    position: relative;
    top:100px; /* 상단 맞춤 */
    left: -209px; /* 왼쪽 맞춤 */
}

/* 호버 시 투명도 변경 */
.empty-box4:hover .info-2 {
    opacity: 1; 
}

.empty-box4:hover .info-2-1 {
    opacity: 1; 
}


.empty-box4:hover .s-3 {
    opacity: 1; 
}

.empty-box5 {
    height: 240px;
    width: 170px;
    border: 0.1px solid black;
    position: absolute;
    top: 520px;
    left: 905px;
    box-sizing: border-box;
    cursor: pointer; /* 클릭 가능하도록 커서 변경 */
    z-index: 90; /* info-1보다 아래에 표시 */
}

/* 대각선 X자를 그리는 스타일 */
.empty-box5::before,
.empty-box5::after {
    content: '';
    position: absolute;
    width: 172%; /* 대각선 길이 */
    height: 0.1px; /* 선의 두께 */
    background-color: black; /* 대각선 색상 */
    top: 50%; /* 세로 중심에 위치 */
    left: 50%; /* 가로 중심에 위치 */
    transform-origin: center; /* 중심을 기준으로 회전 */
}

/* 첫 번째 대각선 */
.empty-box5::before {
    transform: translate(-50%, -50%) rotate(54.6deg);
}

/* 두 번째 대각선 */
.empty-box5::after {
    transform: translate(-50%, -50%) rotate(-54.6deg);
}

.background {
    background-image: url(./인포\ 전체\ 배경-03.png); /* 배경 이미지 설정 */
    background-size: cover; /* 이미지를 화면에 맞게 늘리기 */
    background-position: center; /* 이미지 중앙 정렬 */
    width: 100%; /* 전체 너비 설정 */
    height: 100%; /* 전체 높이 설정 */
    position: fixed; /* 고정 위치 설정 */
    z-index: -1; /* 다른 요소들 뒤에 위치 */   
    opacity: 1;
    background-color: rgb(232, 232, 232);

}

.trail {
    position: absolute;
    width: 5px;
    height: 5px;
    background:black;
    border: 0.1px dotted black;
    border-radius: 50%;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.5s;
}

