* {
    margin: 0;
    padding: 0;
   
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('./FreeMonospaced.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    color: inherit; /* 부모 요소의 색상을 상속받도록 설정 */
    text-decoration: none; /* 기본적으로 밑줄을 없앰 */
}

body, html {
    height: 296vh; /* 페이지의 세로 길이를 150%로 설정 */
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'MyCustomFont', sans-serif;
    background-color: rgb(232, 232, 232);
}


/* 스크롤바 전체 스타일 */
::-webkit-scrollbar {
    width: 12px; /* 세로 스크롤바 너비 */
    height: 12px; /* 가로 스크롤바 높이 */
}

/* 스크롤바 트랙 (배경) 스타일 */
::-webkit-scrollbar-track {
    background: rgb(232, 232, 232); /* 스크롤바 배경색 */
    border-radius: 10px;
}

/* 스크롤바 핸들 스타일 */
::-webkit-scrollbar-thumb {
    background-color: rgb(232, 232, 232); /* 스크롤바 색상 */
    
   
}

/* 스크롤바 핸들을 누르고 있을 때 스타일 */
::-webkit-scrollbar-thumb:active {
    background-color: rgb(0, 255, 247); /* 스크롤바 핸들 색상 변경 */
}



.main-3-1{
    font-weight: 350;
    position: absolute;
    top: 5px;
    left: 60px;
    font-size: 14.5px;
    word-spacing: -1px; 
}

.main-3-1-1{
    font-weight: 900;
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 16px;
    word-spacing: -5px; 
}



.main-3-1-2{
    font-weight: 900;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 16px;
    word-spacing: -5px; 
    z-index: 600;
}
.main-3-1-2:hover{
    font-weight: 900;
    text-shadow: 0 0 10px rgb(0, 255, 179);
}

.main-3-2
     {
        font-size: 12.3px;
        z-index: 100;
        position: absolute;
        top: 820px; 
        left: 30px; 
        word-spacing: -3px; 
        font-weight: 300;
        
    }
    
    .main-3-2 p {
        line-height: 1.5; /* 줄 간격을 줄임 */
    }
    
    .main-3-2 p:nth-child(2) {
        text-indent: -6px; /* 두 번째 p 요소에만 들여쓰기 20px 적용 */
    }

    

    .main-3-3
     {
        font-size: 12.1px;
        z-index: 100;
        position: absolute;
        top: 1380px; 
        left: 30px; 
        word-spacing: -3px; 
        line-height: 1.5;
        letter-spacing: 0.4px;
        font-weight: 320;
        
    }

    .main-3-4
    {
       font-size: 12.1px;
       z-index: 100;
       position: absolute;
       top: 1444px; 
       left: 30px; 
       word-spacing: -3px; 
       line-height: 1.5;
       letter-spacing: 0.4px;
       font-weight: 320;
       
   }


   .main-3-5
   {
      font-size: 12.1px;
      z-index: 100;
      position: absolute;
      top: 1556px; 
      left: 30px; 
      word-spacing: -3px; 
      line-height: 1.5;
      letter-spacing: 0.4px;
      font-weight: 320;
      
  }

  audio {
    position: absolute;
    bottom: 35px ;
    left: 27px;
    width: 300px;
    height: 30px;
    background-color:rgb(255, 255, 255);
    padding: 15px;
    z-index: 9990;
}

.bgm {
    font-weight: 400;
    position: absolute;
    bottom: 55px;
    left: 380px;
    font-size: 13.5px;
    word-spacing: 1px; 
    letter-spacing: 1px;
}


    .highlight-link {
        font-weight: bold; /* 두께를 두껍게 설정 */
        text-decoration: none; /* 링크의 밑줄 제거 */
        color: inherit; /* 텍스트 색상 상속 */
    }

    .highlight-link2 {
       
        text-decoration: none; /* 링크의 밑줄 제거 */
        color: inherit; /* 텍스트 색상 상속 */
    }

   
    .info-1 {
        
        position: absolute;
        left: 436px;
        top: 70px;
        width: 600px; /* 부모 요소에 맞게 설정 */
        height: auto; /* 이미지 비율 유지 */
    
    
    }

    .info-p {
        
        position: absolute;
        left: 810px;
        top: 130px;
        width: 600px; /* 부모 요소에 맞게 설정 */
        height: auto; /* 이미지 비율 유지 */
    
    
    }



    .info-p-1 {
        
        position: absolute;
        left: 530px;
        z-index: 900;
        top: 1403px;
        width: 490px; /* 부모 요소에 맞게 설정 */
        height: auto; /* 이미지 비율 유지 */
    
        filter: blur(3px); /* 초기 상태에서 흐릿하게 설정 */
        transition: filter 0.8s ease; 
    }
    
    .info-p-1:hover {
        filter: blur(0); /* 마우스를 올렸을 때 선명해짐 */
    }
    .info-1-1 {
        height: 770px; 
        width: auto;
        position: absolute;
        top: 825px;
        right: 0px;
        z-index: 100; /* 다른 요소보다 위에 표시 */
        
    
    }

    .info-1-2 {
        height: 670px; 
        width: auto;
        position: absolute;
        top: 1660px;
        left: 400px;
        z-index: 109; /* 다른 요소보다 위에 표시 */
        transition: transform 0.7s ease;
       
    
    }

    .info-1-2:hover {
        transform: scale(1.1); /* 이미지를 1.5배로 확대 */
      }


    .de-1 {
        height: 300px; 
        width: auto;
        position: absolute;
        top: 1740px;
        left: 525px;
        z-index: 100; /* 다른 요소보다 위에 표시 */
    }

    .de-2 {
        height: 310px; 
        width: auto;
        position: absolute;
        top: 1930px;
        left: 925px;
        z-index: 100; /* 다른 요소보다 위에 표시 */
    }

    .de-3 {
        height: 280px; 
        width: auto;
        position: absolute;
        top: 2145px;
        left: 15px;
        z-index: 900; /* 다른 요소보다 위에 표시 */
    
        transition: transform 0.7s ease;
       
    
    }

    .de-3:hover {
        transform: scale(1.3) translateX(10px) translateY(-5px); /* 이미지를 1.5배로 확대 */
      }

    

    .de-4 {
        height: 310px; 
        width: auto;
        position: absolute;
        top: 1555px;
        right: 15px;
        z-index: 100; /* 다른 요소보다 위에 표시 */
        transition: transform 0.3s ease; /* 이미지의 위치를 부드럽게 이동 */
    }
    
    .de-4:hover {
        transform: translateY(150px); /* 호버 시 이미지를 아래로 50px 이동 */
    }
    .info-1-3 {
        height: 640px; 
        width: auto;
        position: absolute;
        top: 3150px;
        left: 50px;
        z-index: 99; /* 다른 요소보다 위에 표시 */
        transition: transform 0.7s ease;
       
    
    }
    .info-1-3:hover {
        transform: scale(1.1); /* 이미지를 1.5배로 확대 */
      }

    .info-1-4 {
        height: 140px; 
        width: auto;
        position: absolute;
        top: 3072px;
        left: 625px;
        z-index: 99; /* 다른 요소보다 위에 표시 */
        transition: transform 0.7s ease;
       
    
    }

    .info-1-4:hover {
        transform: scale(1.4); /* 이미지를 1.5배로 확대 */
      }

    .info-1-5 {
        height: 70px; 
        width: auto;
        position: absolute;
        top: 3372px;
        left: 618px;
        z-index: 99; /* 다른 요소보다 위에 표시 */
        transform: rotate(90deg);
        transition: transform 0.7s ease;
       
    
    }
    .info-1-5:hover {
        transform: scale(1.6); /* 이미지를 1.5배로 확대 */
      }

    
    .video-container {
        position: absolute;
        top: 3500px;
        left: 930px;
    }

 

    .above-box1 {
        z-index: 100;
        width: 150px;
        height: 25px;
        position: absolute; /* 절대 위치 지정 */
        top: 2067px; 
        left: 50px; 
        background-color: rgb(0, 255, 247); 
        border-radius: 6px;
        
    }
    
    .video-2 {
        
        position: absolute;
        top: 2062px;
        left: 42px;
        font-size: 13px;
        letter-spacing: 0.4px;
        font-weight: 320;
        z-index: 200;
        color: black;

    }
    
    .above-box2 {
        z-index: 100;
        width: 110px;
        height: 25px;
        position: absolute; /* 절대 위치 지정 */
        top: 2057px; 
        left: 14px; 
        background-color: rgb(0, 255, 247); 
        border-radius: 6px;
        
    }

 
    
    
    .video-1 {
        
        position: absolute;
        top: 2045px;
        left: 1226px;
        font-size: 13px;
        letter-spacing: 0.4px;
        font-weight: 320;
        z-index: 120;
        color: black;

    
    }
    .above-box {
        z-index: 100;
        width: 208px;
        height: 25px;
        position: absolute; /* 절대 위치 지정 */
        top: 2040px; 
        left: 1200px; 
        background-color: rgb(0, 255, 247); 
        border-radius: 6px;
        
    }


    .video-3 {
        
        position: absolute;
        top: 3042px;
        right: 20px; 
        font-size: 13px;
        letter-spacing: 0.4px;
        font-weight: 320;
        z-index: 200;
        color: black;

    
    }

    .video-4 {
        
        position: absolute;
        top: 1850px;
        left: 820px; 
        font-size: 13px;
        letter-spacing: 0.4px;
        font-weight: 320;
        z-index: 200;
        color: black;

    
    }
    .above-box3 {
        z-index: 180;
        width: 210px;
        height: 25px;
        position: absolute; /* 절대 위치 지정 */
        top: 1847px; 
        left: 800px; 
        background-color: rgb(0, 255, 247); 
        border-radius: 6px;
        
    }


.trail {
    position: absolute;
    width: 5px;
    height: 5px;
    background:black;
    border: 0.1px dotted black;
    border-radius: 50%;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.5s;
}


.container {
    position: relative; /* relative로 설정 */
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.falling-image {
    position: absolute;
    width: 50px; /* 이미지 크기 */
    height: auto;
    animation: fall 4s linear infinite; /* 애니메이션을 4초로 설정하고 무한 반복 */
    pointer-events: none;
    opacity: 1;
}

@keyframes fall {
    0% {
        transform: translateY(-100px) scale(0.5); /* 화면 밖에서 시작 */
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) scale(1); /* 화면 아래로 떨어짐 */
        opacity: 0;
    }
}
